/* tooltip.css */

.tooltip {
    background: #2e2d2d;
    border-radius: 3px;
    box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.51); 
    color: #fffefe;
    font-size: 1rem;
    line-height: normal;
    max-width: 200px;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    z-index: 9999;
}

.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45px;
    border-width: 7px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}
